# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [ ]:
x = 6

print(x)

##### Assinging float

In [7]:
numberFloat = 2.3

print(numberFloat)

numberFloat = 2.5

print(numberFloat)

2.3
2.5

#### Performing Calculations on ints and floats

##### Addition

In [9]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

7.4

##### Subtraction

In [13]:
result_diff = 5 - 2

print(result_diff)

3

##### Multiplication

In [14]:
result_mul = num1 * num2
print(result_mul)

10.8

##### Division

In [ ]:
result_div = num2/num1
print(result_div)

result_div /=2
print(result_div)

##### Floor Division

In [20]:
result_floor = num2 // num1
print(result_floor)

result_floor //=2
print(result_floor)

2.0
1.0

##### Modulo

In [26]:
result_mod = 100 % 30
print(result_mod)

result_mod %=2
print(result_mod)

10
0

##### Exponential

In [30]:
square = 5 ** 2
print(square)

square **=2
print(square)

25
625

### String Input-Output

##### String Assignment

In [38]:
name = "javier"

print(name)

javier

##### print() <br>
<p>Don't forget about end=' '</p>

In [32]:
print("This is my first name: ", name)
print("Full name: ", name, end=" Frausto")

This is my first name:  javier
Full name:  javier Frausto

##### String Concatenation

In [40]:
first_name = "John"
last_name = "Smith"

full_name = first_name + " " + last_name
print(full_name)

full_name += " Jr"
print(full_name)

John Smith
John Smith Jr

##### Type Conversion

In [41]:
number = "32"
change_type_num = int(number)
change_type_num += 5
print(change_type_num)
print(number)

37
32

##### input()

In [42]:
name = input("What is your name? ")
print(name)

What is your name? Javier
Javier

##### format()

In [51]:
age = 24
new_age = str(age)
name = "Javier"

result_string = "You are {}, you are {} years old and you are getting wiser!".format(name, age)
print(result_string)

result_again = f"{new_age + '1'} is a great time in life!"
print(result_again)

You are Javier, you are 24 years old and you are getting wiser!
241 is a great time in life!

##### Old Way (python 2)

In [49]:
result_string2 = "You are %s and you look great for your age!" %age
print(result_string2)

You are 88 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [53]:
color = input("Enter the color of the car: ")
year = input("Enter the year of the car: ")
make = input("Enter the make of the car: ")
model = input("Enter the model of the car: ")

print(color, year, make, model)

Enter the color of the car: Black
Enter the year of the car: 2021
Enter the make of the car: Hyundai
Enter the model of the car: Elantra
Black 2021 Hyundai Elantra

### If Statements

In [56]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F



num1 = 5
num2 = 5

if num1 == 5:
    print("Equal values")
else:
    print("Not Equal")
    
if num2 > num1:
    print("Num2 is greater than or equal to")
elif num2 < num1:
    print("Num2 is less than")
else:
    print("They're the same")

Equal values
They're the same

##### 'is' keyword

In [58]:
num3 = 55
num4 = num3

if num3 is num4:
    print("This is exact number")

This is exact number

##### 'in' keyword

In [59]:
char_name = "Max Payne"

if "Max" in char_name:
    print("The character who lost everything...")

The character who lost everything...

##### 'not in' keyword'

In [60]:
sega_char = 'Sonic'

if 'a' not in sega_char:
    print("a is NOT HERE")

a is NOT HERE

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [61]:
user_input = input("Please enter some text: ")

if 'p' in user_input:
    print("The letter 'p' is in the input.")
else:
    print("The letter 'p' is not in the input.")

Please enter some text: p
The letter 'p' is in the input.

## Using 'and'/'or' with If Statements

In [62]:
first_name = "Max"
age = 10

if first_name == "Max" and age == 10:
    print("I am Max and I am 10")

I am Max and I am 10

### Elif Statements

### Else Statements

In [ ]:
# see above

### For Loops

In [67]:
name = "Javier Frausto is the greatest"

for letter in range(len(name)):
    print(letter)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [70]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [68]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [84]:
for j in name:
    pass

# i will come back to this later

##### Double For Loops

In [90]:
for i in range(5):
    for j in range(5):
        print("i = ", i, "j= ", j)

i =  0 j=  0
i =  0 j=  1
i =  0 j=  2
i =  0 j=  3
i =  0 j=  4
i =  1 j=  0
i =  1 j=  1
i =  1 j=  2
i =  1 j=  3
i =  1 j=  4
i =  2 j=  0
i =  2 j=  1
i =  2 j=  2
i =  2 j=  3
i =  2 j=  4
i =  3 j=  0
i =  3 j=  1
i =  3 j=  2
i =  3 j=  3
i =  3 j=  4
i =  4 j=  0
i =  4 j=  1
i =  4 j=  2
i =  4 j=  3
i =  4 j=  4

### While Loops

In [91]:
num = 0
while True:
    if num >= 10:
        break
    print(num)
    num += 1
    
while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [96]:
game_running = True
score = 0

while game_running:
    user_input = input("Say some stuff ")
    if user_input == "quit":
        game_running = False
    print(user_input)
    score += 1
    print(f"Score: {score}")

Say some stuff some stuff
some stuff
Score: 1
Say some stuff some stuff
some stuff
Score: 2
Say some stuff some stuff
some stuff
Score: 3
Say some stuff some stuff
some stuff
Score: 4
Say some stuff quit
quit
Score: 5

##### While & For Loops Used Together

In [97]:
num = 0

while num <= 5:
    print("\n While Loop Iteration: " + str(num))
    
    for i in range(2):
        print("For Loop Iteration: " + str(i))
        
    num += 1

 While Loop Iteration: 0
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 1
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 2
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 3
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 4
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 5
For Loop Iteration: 0
For Loop Iteration: 1

### Built-In Functions

##### range()

In [103]:
# range (start, stop, step)
for i in range(5, 20, 5):
    print(i)

5
10
15

##### len()

In [105]:
name = "Max"

length = len(name)
print(length)

3

##### help()

In [114]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

##### isinstance()

In [116]:
print(isinstance(4.5, int))
if isinstance(4.5, float):
    print("The number is a float type")

False
The number is a float type

##### abs()

In [115]:
print(abs(-5))

5

### Try and Except

In [120]:
try:
    number_test = 0
    input_num = int(input("guess a number "))
    if input_num != number_test:
        input_num = input_num + number_test
        print("Your number is: " + str(input_num))
except:
    print("That did not work - ERROR: Please change your input to a number")

guess a number 10
Your number is: 10

### Lists

##### Declaring Lists

In [121]:
my_list = []

names = ["Max", "cindy", "Kathy", 5, "nate"]

print(names)

['Max', 'cindy', 'Kathy', 5, 'nate']

##### Indexing a List

In [122]:
print(names[0])

print(names[-1])

print(names[1:])

print(names[:3])

print(names[2:4])

print(names[1::2])

#Print starting at the end and going down 1 each time
print(names[::-1])

Max
nate
['cindy', 'Kathy', 5, 'nate']
['Max', 'cindy', 'Kathy']
['Kathy', 5]
['cindy', 5]
['nate', 5, 'Kathy', 'cindy', 'Max']

##### .append()

In [123]:
names.append("bob")
print(names)

['Max', 'cindy', 'Kathy', 5, 'nate', 'bob']

##### .insert()

In [124]:
names.insert(3, 'Gabby')
print(names)

['Max', 'cindy', 'Kathy', 'Gabby', 5, 'nate', 'bob']

##### .pop()

In [126]:
my_name = names.pop(3)
print(my_name)
print(names)

Gabby
['Max', 'cindy', 'Kathy', 5, 'nate', 'bob']


##### .remove()

In [131]:
while 'bob' in names:
    names.remove('bob')
print(names)

['Max', 'cindy', 'Kathy', 5, 'nate']

##### del()

In [132]:
del(names[1])
print(names)

['Max', 'Kathy', 5, 'nate']

##### Concatenating Two Lists

In [133]:
first_list = [0,1,2]
second_list = [3,4,5]

big_list = first_list + second_list
print(big_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [ ]:
print(names)
print(names[3][1])

##### Looping Through Lists

In [ ]:
for i in range(len(names)):
    print(names[i])
    
for name in names:
    print(name)

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [ ]:
# Printing all cubed numbers up to the total value 1000 starting from 1^3

num = 1

While True:
    cube = num ** 3
    if cube > 1000:
        break
    print(f”The cube of {num} is {cube}”) #Using f-string for better readability
    num += 1

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [ ]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

def prime(x, y):
    prime_list = [] # Start an empty list to store prime numbers
    for i in range(x, y):
        # Skip 0 and 1, they are not prime numbers
        if i < 2:
            continue
        
        # Check if the current number i is a prime number
        for j in range(2, int(i**0.5) + 1):
            if i % j == 0: # If i is divisible by j, it is not a prime number
                break
        else:
            # If the loop completes without finding a factor, i is prime
            prime_list.append(i)
    return prime_list

# Driver program
starting_range = 0
ending_range = 100

# Get the list of prime numbers in the defined range
lst = prime(starting_range, ending_range)
if len(lst) == 0:
    print("There are no prime numbers in this range")
else:
    print("The prime numbers in this range are:", lst)

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [ ]:
#Have user enter their age
age = int(input('Enter age: '))
#Check if age is less than 18
if age < 18:
    print('kids')
#Check if age is between 18 & 65
elif age >= 18 and age < 65:
    print ('adults')
else:
    print ('seniors')